<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts with Flex and Grid</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="item-1"> 1. Python</div>
        <div class="item-2">2. Html</div>
        <div class="item-3">3. Css</div>
        <div class="item-4">4. Javascript</div>
        <div class="item-5"> 5. Typescript</div>
        <div class="item-6"> 6. Mysql</div>
        <div class="item-6">7. MongoDB</div>
        <div class="item-7">8. Node</div>
    </div>

</body>

</html>